queue.priority="NORM"
queue.maxparallel="15"
queue.topics=["script/job/run"]
queue.retries="10"
queue.preferRunOnCreationInstance=B"false"
queue.threadPoolSize="0"
queue.retrydelay="2000"
service.ranking="0"
queue.type="UNORDERED"
queue.keepJobs=B"true"
queue.name="AEM Permission Manager Script Runner"