<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="FileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="log.txt" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
	</appender>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p][%c]: %m%n" />
		</layout>
	</appender>

	<category name="org">
		<level value="warn" />
	</category>

	<category name="com">
		<level value="warn" />
	</category>
	
	<category name="freemarker">
		<level value="warn" />
	</category>

	<category name="com.cognifide">
		<level value="debug" />
	</category>

	<root>
		<priority value="debug" />
		<appender-ref ref="FileAppender" />
		<!-- 
		<appender-ref ref="ConsoleAppender" />
		 -->
	</root>
</log4j:configuration>