scripts=["register nodetypes
<<===
    <'apm'='http://www.cognifide.com/apm/1.1'>

    [apm:Script]
        mixin
        - apm:launchEnabled (boolean)
        - apm:launchMode (string)
        - apm:launchEnvironment (string)
        - apm:launchRunModes (string) multiple
        - apm:launchHook (string)
        - apm:launchSchedule (date)
        - apm:lastExecuted (date)
        - apm:checksum (string)
        - apm:verified (string)
===>>"]
